/*法率咨询*/
.consult{
	padding: 0;
}

/* audit list start */
.consult-stat{
	color: #b4b4b4;
	background-image: url(../images/audit/audit_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 100%;
}
.consult-stat .txt{
	color: #dadada;
}
.consult-stat .txt em{
	color: #00bff3;
}
.consult-stat-content{
	height: .4rem;
	padding: .14rem 0;
	line-height: .2rem;
	background-image: url(../images/audit/icon_sep.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto .2rem;
}
.consult-stat-used{
	float: left;
	width: 45%;
	text-align: right;
}
.consult-stat-oth{
	float: right;
	width: 45%;
	text-align: left;
}
.consult-day{
	height: .3rem;
	line-height: .3rem;
	text-align: center;
}
.consult-day i{
	display: inline-block;
	padding-left: .25rem;
	font-style: normal;
	background-image: url(../images/common/icon_clock.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 60%;
}
.consult-day span{
	display: inline-block;
	color: #dadada;
}
.consult-tabs{
	display: -webkit-box;
	border-bottom: 1px solid #c1c1c1;
}
.consult-tabs-item{
	position: relative;
	height: .42rem;
	margin: 0 .2rem;
	text-align: center;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-flex: 1;
}
.consult-tabs-item.active i{
	position: absolute;
	bottom: -1px;
	display: block;
	width: 100%;
	height: .03rem;
	background-color: #0072bc;
}
.consult-list{
    padding: .15rem .1rem;
}
.consult-list .box{
	margin-bottom: .14rem;
	border: 1px solid #e6e6e6;
	box-shadow: none;
}
.consult-list .title{
	padding: .12rem .12rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.consult-list .title .txt{
	font-size: 1.25em;
	color: #3d3d3d;
}
.consult-list .date{
	padding: 0 .12rem .1rem;
}
.consult-list .date .lab{
	color: #818181;
}
.consult-list .date .txt{
	color: #4b4b4b;
}
.consult-list .title .lab {
	color: #818181;
}
/* audit list end*/

/* consult send start */
.bg-gray{
	background-color: #e6e6e6;
}
.consult-send{
	padding: 0;
}
.consult-send .method{
	margin: .1rem;
}
.consult-send .method img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.consult-send .sep{
	width: 100%;
	height: .14rem;
	background-image: url(../images/consult/sep.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto 100%;
}
.consult-time{
	text-align: center;
}
.consult-time span{
	color: #0072bc;
}
/* consult send end */