form .items {
    position: relative;
}

form .options {
    padding: .15rem .1rem;
}

label.select-tab {
    position: absolute;
    right: .2rem;
    top: .09rem;
    z-index: 9;
}

.wlist_tips {
    background-color: #e6e6e6;
}
/**/

.header-form {
    background-color: #ffffff;
    padding: .13rem .07rem;
}

#result-form .val {
    position: relative;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

#result-form .val:first-child {
    width: 29%;
    float: left;
    padding-right: .08rem;
}

#result-form .val:last-child {
    float: right;
    width: 71%;
}

#result-form input {
    background-color: #e6e6e6;
    border: 1px solid #cdcdcd;
    border-radius: 7px;
}

#result-form label.select-tab {
    width: .2rem;
    right: .1rem;
}

#result-form label.select-tab img {
    width: 100%
}

#result-form button {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 9;
    width: .39rem;
    height: .39rem;
    border: none;
    background-color: transparent;
    background-image: url(../images/enterprise/search.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70% auto;
    outline: none;
}
/**/

.result-list {
    background-color: #fff;
}

.rlist {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding: .1rem .13rem;
    line-height: .38rem;
    border-bottom: 1px solid #e6e6e6;
}

.rlist a {
    display: block;
}

.rlist .txt {
    display: inline-block;
}

.rlist .icon {
    display: inline-block;
    width: .38rem;
    height: .38rem;
    float: right;
    background: url(../images/enterprise/right.png) center right no-repeat;
    background-size: .16rem;
}
/*detail*/

.company-detail {
    background-color: #fff;
}

.company-detail .rlist:last-child {
    border-bottom: 0 none;
}

.c-name {
    font-size: .16rem;
    color: #0072bc
}

.company-detail .lab {
    color: #818181;
}

.company-detail .txt {
    float: right;
}

.company-detail .msg {
    line-height: 1.6;
}
/*province list start */

.province-list {
    padding: 0;
    background-color: #fff;
}

.province-item .name {
    padding: 0 .2rem;
    background-color: #e7e9eb;
}

.province-item .value {
    padding: 0 .2rem;
    line-height: .4rem;
    border-bottom: 1px solid #e7e9eb;
}

.province-item .value:last-child {
    border-bottom: none;
}
/*province list end */
