/*法率管家*/
.housekeeper{
	padding: 0 0 .52rem;
}

/* hk index start */
.hk-banner{
	position: relative;
	height: 165px;
	background-color: #1b74c3;
}
.hk-banner img{
	display: block;
	max-width: 100%;
}
.hk-banner h3{
	padding-top: .2rem;
	font-size: 1.5em;
	font-style: italic;
	color: #fff;
	text-align: center;
	color: #fff;
}
.hk-banner .hk-btns{
	padding-top: .15rem;
	text-align: center;
}
.hk-banner .hk-btns .btn{
	display: inline-block;
	padding: 7px 14px;
	border-radius: 7px;
	color: #fff;
	background-color: #39b54a;
}
.hk-banner .tip{
	position: absolute;
	bottom: 0;
	width: 100%;
	line-height: .45rem;
	text-align: center;
	color: #fff;
	background-color: rgba(47,56,65,0.7);
}
.hk-list a{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-bottom: 1px solid #d2d2d2;
}

.hk-list a:hover{
    background-color: #f4f4f4;
}
.hk-list a.active{
    background-color: #44e0e9;
    color: #fff;
}
.hk-list a.disabled{
	background-color: #f4f4f4;
}
.hk-list .options a:hover{
	background-color: #fff;
}
.hk-list a:last-child{
    border-bottom: none;
}
.hk-list a span{
    display: block;
    line-height: .44rem;
    padding-left: .5rem;
    -webkit-box-flex: 1;
    background-repeat: no-repeat;
    background-position: .22rem center;
    background-size: .16rem auto;
}
.hk-list span.i-consult{
	background-image: url(../images/housekeeper/icon-consult.png);
}
.hk-list span.i-cont{
	background-image: url(../images/housekeeper/icon-cont.png);
}
.hk-list span.i-audit{
	background-image: url(../images/housekeeper/icon-audit.png);
}
.hk-list span.i-letter{
	background-image: url(../images/housekeeper/icon-letter.png);
}
.hk-list span.i-train{
	background-image: url(../images/housekeeper/icon-train.png);
}

.hk-list a em{
    display: inline-block;
    color: #bfbfbf;
}
.hk-list a i{
    display: inline-block;
    width: .16rem;
    margin-right: .1rem;
    background-image: url(../images/housekeeper/icon-arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: .16rem auto;
}
/* hk index end */

/* hk desc start */
.hk-desc{
	padding: 0;
}
.hk-desc img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.hk-desc p{
	padding: .1rem .1rem;
	line-height: 2;
}
/* hk desc end */

/* hk suit start */
.hk-suit{
	padding: 0;
}
.hk-suit img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
.hk-suit .options{
	width: 80%;
	margin: .3rem auto .25rem;
}
.options .btn.btn-app{
	border-radius: 0;
}
/* hk suit end */

/* hk service start */
.hk-service{
	padding: 0;
	padding-bottom: .5rem;
}
.hk-service img{
	display: block;
	max-width: 100%;
	margin: 0 auto;
}
form.ser-form{
	padding: .15rem .1rem .2rem;
}
form.ser-form .items{
	padding: 0 .1rem;
}
form.ser-form .val{
	text-align: right;
}
form.ser-form .val .old{
	color: #9a9a9a;
}
/* hk service end */

/*智能合同*/
header .icon-build{
	width: 5em;
	color: #0072bc;
}
.cont{
	padding: 0;
}
/* cont list start */
.cont-stat{
	color: #b4b4b4;
	background-image: url(../images/audit/audit_bg.png);
	background-repeat: no-repeat;
	background-position: center bottom;
	background-size: auto 100%;
}
.cont-stat .txt{
	color: #dadada;
}
.cont-stat .txt em{
	color: #00bff3;
}
.cont-stat-content{
	height: .4rem;
	padding: .14rem 0;
	line-height: .2rem;
	background-image: url(../images/audit/icon_sep.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto .2rem;
}
.cont-stat-used{
	float: left;
	width: 45%;
	text-align: right;
}
.cont-stat-oth{
	float: right;
	width: 45%;
	text-align: left;
}
.cont-day{
	height: .3rem;
	line-height: .3rem;
	text-align: center;
}
.cont-day i{
	display: inline-block;
	padding-left: .25rem;
	font-style: normal;
	background-image: url(../images/common/icon_clock.png);
	background-repeat: no-repeat;
	background-position: left center;
	background-size: auto 60%;
}
.cont-day span{
	display: inline-block;
	color: #dadada;
}
.cont-list{
    padding: .15rem .1rem;
}
.cont-list .box{
	margin-bottom: .14rem;
	border: 1px solid #e6e6e6;
	box-shadow: none;
}
.cont-list .title{
	padding: .12rem .12rem;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.cont-list .title .status{
	display: inline-block;
	min-width: 3em;
	height: .2rem;
	margin-right: .08rem;
	padding: .05rem;
	line-height: .2rem;
	border-radius: 5px;
	color: #fff;
	text-align: center;
	background-color: #39b54a;
}
.cont-list .title .status.ing{
	background-color: #00aeef;
}
.cont-list .title .txt{
	font-size: 1.25em;
	color: #3d3d3d;
}
.cont-list .date{
	padding: 0 .12rem .1rem;
}
.cont-list .date .lab{
	color: #818181;
}
.cont-list .date .txt{
	color: #4b4b4b;
}
.cont-list .opt{
	display: -webkit-box;
	border-top: 1px solid #e6e6e6;
	background-color: #f8f8f8;
}
.cont-list .opt a{
	display: block;
	line-height: .32rem;
	text-align: center;
	border-right: 1px solid #e6e6e6;
	-webkit-box-flex: 1;
}
.cont-list .opt a:last-child{
	border-right: 0;
}
.cont-list .opt a.yj{
	color: #0072bc;
}
/* cont list end*/

/* cont submit start */
.cont-progress{
	position: relative;
	display: -webkit-box;
	height: .7rem;
	color: #9a9a9a;
	background-color: #2f3841;
}
.cont-progress-item{
	text-align: center;
	display: -webkit-box;
	-webkit-box-align: center;
	-webkit-box-pack: center;
	-webkit-box-orient: block-axis;
	-webkit-box-flex: 1;
}
.cont-progress-item.active{
	color: #fff;
}
.cont-progress-item i{
	position: relative;
	z-index: 2;
	display: block;
	width: .11rem;
	height: .11rem;
	border-radius: 50%;
	background-color: #737373;
}
.cont-progress-item.active i{
	background-color: #00aeef;
}
.cont-progress-line{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 24px;
}
.cont-progress-line span{
	display: block;
	width: 66.66%;
	height: 1px;
	margin: 0 auto;
	background-color: #737373;
}
.cont-form{
}
form.cont-form .items{
	padding: 0 0 0 .18rem;
	border-radius: 0;
	margin-bottom: 0;
	border: none;
	border-bottom: 1px solid #e6e6e6;
}
form.cont-form .key{
	width: 4em;
	color: #737373;
}
form.cont-form .val{
	border-radius: 7px;
	color: #3d3d3d;
}
form.cont-form .tips{
	padding: 0 .18rem;
	border-bottom: 1px solid #e6e6e6;
	line-height: .37rem;
	text-align: right;
	color: #0072bc;
}
form.cont-form i.choose{
	display: block;
	width: .3rem;
	height: .35rem;
	background-image: url(../images/letter/icon_right.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: auto .15rem;
}
form.cont-form textarea{
	width: 100%;
	border: 0;
	padding-right: .1rem;
	box-sizing: border-box;
}
form.cont-form input[type="text"]{
	text-align: right;
}
form.cont-form .single{
	border-bottom: 0 none;
	padding-right: .15rem;
}
form.cont-form .single textarea{
  	height: 1rem;
	border: 1px solid #e6e6e6;
}
form.cont-form .options{
	width: 80%;
	margin: .3rem auto;
}
form.cont-form .options .mr{
	margin-right: .2rem;
}

.cont-step{
	height: .3rem;
	line-height: .3rem;
	background-color: #3e4c59;
	text-align: center;
	color: #fff;
}
/* cont submit end */

/* cont detail start */
.cont-detail h3{
	margin-bottom: .14rem;
	font-size: 1.25em;
	text-align: center;
}
/* cont detail end */

/* cont sus start */
.cont-sus .tips{
	padding-top: 2rem;
	background-image: url(../images/common/icon_reg_sus.png);
	background-repeat: no-repeat;
	background-position: center .8rem;
	background-size: auto .83rem;
	text-align: center;
}
.cont-sus .options{
	position: fixed;
	bottom: 73px;
	display: block;
	width: 100%;
	margin-top: .2rem;
}
.cont-sus .opt-item{
	width: 100%;
	margin-bottom: .14rem;
}
.cont-sus .options .btn{
	width: 80%;
	margin: 0 auto;
}
.cont-sus .options .btn.btn-risk{
	border: 1px solid #e6e6e6;
	background: none;
	background-color: #fff;
	color: #ed1c24;
}
/* cont sus end */
/* search*/
form.cont-search-form .items {
	display: block;
    position: relative;
    margin:.1rem .1rem 0;
}
form.cont-search-form label.select-tab {
    position: absolute;
    right: .1rem;
    top: .08rem;
    z-index: 9;
}
form.cont-search-form label.select-tab img{
	width: .2rem;
}
.cont-search-list{padding: 0;}
.cont-search-list ul{
	margin: 0 .15rem;
}
.cont-search-list ul  li{
	padding: .15rem;
	border-bottom: 1px solid #e6e6e6;
}
.cont-search-list .empty_list{
	text-align: center;
	color: #ed1c24;
	font-size: .12rem;
	padding-top:.15rem;
	vertical-align: top;
	display: none;
}
.cont-search-list .empty_list i{
	background-position: center center;
	background-repeat: no-repeat;
	background-size: .14rem;
	background-image: url(../images/housekeeper/icon_empty.png);
	display: inline-block;
	width: .14rem;
	height: .16rem;
	margin-right: .06rem;
}
.cont-search-list h3{
	padding: .15rem;
	text-align: center;
	border-bottom: 2px solid #e6e6e6;
}
.cont-search-list h3 em{
	color: #00bff3;
	margin:0 .04rem 
}
header a.search-again-icon{
	color: #0072bc;
	width: .7rem;
	font-size: 1.2em;
}
