/* index start */
.home{
    padding: 0;
}
.slider{
    margin-bottom: 0;
}
.slider .subscript{
    position: absolute;
    right: .12rem;
    bottom: .05rem;
    z-index: 1;
    text-align: right;
}
.subscript span{
    display: inline-block;
    width: .3rem;
    height: 2px;
    margin: 0 .04rem;
    background-color: #cfd4e6;
    border-radius: 0;
}
.subscript span.active{
    background-color: #1f79cf;
}
.nav .link{
    display: block;
    border-bottom: 1px solid #d2d2d2;
    font-size: 1.25em;
    color: #4b4b4b;
    text-align: left;
    background-repeat: no-repeat;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}
.nav .link:last-child{
    border-bottom: 0;
}
.nav .link i{
    display: inline-block;
    width: .3rem;
    height: .3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 100% auto;
}
.nav .l1{
    background-image: url(../images/home/l1.png);
}
.nav .l2{
    background-image: url(../images/home/l2.png);
}
.nav .l3{
    background-image: url(../images/home/l3.png);
}
.nav .l4{
    background-image: url(../images/home/l4.png);
}
.nav .l5{
    background-image: url(../images/home/l5.png);
}
.nav-left{
    float: left;
    width: 50%;
}
.nav-left .link{
    height: .43rem;
    padding-top: .92rem;
    border-right: 1px solid #d2d2d2;
    text-align: center;
    background-position: center .4rem;
    background-size: auto .42rem;
}
.nav-right{
    float: left;
    width: 50%;
}
.nav-right .link{
    height: .3rem;
    padding: .3rem 0 .3rem .73rem;
    background-position: .3rem center;
    background-size: auto .3rem;
}
.footer .options .btn{
    border-radius: 0;
    background-image: inherit;
}
/* index end */