.userbox{
    padding: 0 0 .52rem;
}
 /*user common start */
.ulist .box{
    margin-bottom: .1rem;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    box-shadow: none;
    border: 0 none;
}
.ulist .box a{
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
    border-bottom: 1px solid #d2d2d2;
}

.ulist .box a:hover{
    background-color: #f4f4f4;
}
.ulist .box a.active{
    background-color: #44e0e9;
    color: #fff;
}
.ulist .box a.disabled{
	background-color: #f4f4f4;
}
.ulist .options a:hover{
	background-color: #fff;
}
.ulist a:last-child{
    border-bottom: none;
}
.ulist a span{
    display: block;
    line-height: .43rem;
    padding-left: .1rem;
}
.ulist a em{
    display: inline-block;
    color: #bfbfbf;
}
.ulist a i{
    display: inline-block;
    width: .1rem;
    margin-right: .1rem;
    background-image: url(../images/icon_arrow.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: .08rem .13rem;
}
/* user common end */

/* user start */
.user_top{
    /*display: -webkit-box;*/
    padding: .32rem .17rem .28rem;
    background: url(../images/user/usercenter_bg.jpg);
    background-size: 100% 100%;
}
.user_top .thumb{
    display: block;
    height: .65rem;
}
.user_top .thumb img{
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
}
.user_top .names{
    -webkit-box-flex: 1;
}
.user_top .names p{
    line-height: .32rem;
    font-size: 1.25em;
    text-align: center;
}
.user_top .names p span{
    display: inline-block;
    width: 6.2em;
    padding-left: .4rem;
    padding-right: .4rem;
    background-repeat: no-repeat;
    background-position: .2rem center;
    background-size: .2rem .2rem;
    background-image: url(../images/user/user_type1.png);
    color: #e6e6e6;
}
.user a span{
    padding-left: .4rem;
    padding-right: .4rem;
    background-repeat: no-repeat;
    background-position: .12rem center;
    background-size: .17rem .17rem;
}
.user a span.i1{
    background-image: url(../images/user/icon_1.png);
}
.user a span.i2{
    background-image: url(../images/user/icon_2.png);
}
.user a span.i3{
    background-image: url(../images/user/icon_3.png);
}
.user a span.i4{
    background-image: url(../images/user/icon_4.png);
}
.user a span.i5{
    background-image: url(../images/user/icon_8.png);
}
.user a em.num{
    width: auto;
    padding: 0 .1rem;
    -webkit-border-radius: .1rem;
    border-radius: .1rem;
    background-color: #f0474b;
    text-align: center;
    color: #fff;
}
/* user end */
/* my lcard*/
.my-lcard{
    padding: 0;
}
.my-lcard .lcard-box{
    padding: .15rem 0;
    width: 100%;
    border-bottom: 2px solid #e6e6e6;
}
.my-lcard .lcard-box:last-child{
    border-bottom: none;
}
.my-lcard .expired{
    /*background-color: #00aeef;*/
    background-image: url(../images/lcard/expired.png);
}
.my-lcard .not-used{
    /*background-color: #00aeef;*/
    background-image: url(../images/lcard/lcard_detail_bg.png);
}
.lcard-detail{
    position: relative;
    width: 80%;
    height: 78px;
    margin: 0 auto;
    color: #fff;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: auto 100%;
}
.lcard-detail .status{
    position: absolute;
    left:50%;
    margin-left: .66rem;
    top: .05rem;
}
.lcard-detail .cornor{
    position: absolute;
    top: 50%;
    left: -.18rem;
    display: block;
    width: .27rem;
    height: .27rem;
    border-radius: 50%;
    background-color: #fff;
}
.lcard-detail .lcard-amount{
    float: left;
    width: 45%;
    padding-top: .2rem;
    text-align: right;
}
.lcard-detail .lcard-amount-c{
    padding-right: .1rem;
}
.lcard-detail .lcard-amount .price{
    padding-right: .05rem;
    font-size: 2em;
    line-height: 1;
}
.lcard-detail .lcard-info{
    float: left;
    width: 55%;
    padding: .26rem 0;
    line-height: .2rem;
    font-size: .8em;
}
.lcard-detail .lcard-info-c{
    padding-left: .1rem;
    border-left: 1px solid #fff;
}
/*my lcard end*/
/* my-msg start*/
.my-msg .items{
    position: relative;
}
label.select-tab {
    position: absolute;
    right: .2rem;
    top: .09rem;
    z-index: 9;
}
/*my-msg end*/

/* 添加地址*/
.myaddress .items{
    position: relative;
}
/* my-address start */
.myaddress .box{
    margin-bottom: .14rem;
    border-top:0 none;
    border-bottom: 1px solid #E6E6E6;
    box-shadow: none;
    border-radius: 0;
}
.myaddress .box a{
    display: inline-block;
    padding: .05rem .1rem;
    border: 1px solid #c0c0c0;
    border-radius: 5px;
}
.myaddress .lab{padding-left:.04rem; }
.myaddress .operate{
    margin-top: .05rem;
    margin-bottom: .13rem;
}
.myaddress a.del{color: #ed1c24}
.myaddress .options{margin-top: .22rem}
.myaddress .items .key{
    width: auto;
    padding-left: .1rem;
}
.myaddress .items .key,
.myaddress .items .select-tab{
    color: #737373;
}
/* my-address end */
/* about-falv start */
.about-falv .title{
    width: 1rem;
    margin: .24rem auto .34rem;
}
.about-falv .title img{
    width: 100%;
}
.about-falv p{
    padding: 0 .1rem;
    color: #737373;
}
.versions-box{
    position: relative;
    bottom: .4rem;
     padding: 0 .3rem;
}
.versions{
    text-align: center;
    color: #737373;
    line-height: .38rem;
 }
/* about-falv end */
